<!doctype html>
<html>
<head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/chat/chat_mob.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.js"></script>
    <script src="/static/lib/jquery-3.3.1.min.js"></script>

</head>
<body>

<!--<span class="broadcast" >-->
  <!--ssf-->
<!--</span>-->

<div class="chat-container">
    <div class="chat-header">
        <!--<button class="chat-news">消息</button>-->
        <span class="chat-friend">
            <span class="friend-name">在线测试</span>
            <!--<span class="friend-device">Iphone在线 - 2G</span>-->
        </span>
        <!--<button class="chat-call">电话</button>-->
        <!--<button class="chat-menu">好友</button>-->
    </div>

    <div class="chat-body" data-id="{{user._id}}">
        <!--<div class="content-friend">-->
            <!--<img src="./2017032410_dog1.png" alt="" class="friend-avatar">-->
            <!--<span class="content-detail">内容1</span>-->
        <!--</div>-->
        <!--<div class="content-self">-->
            <!--<img src="./2017032410_dog2.png" alt="" class="self-avatar">-->
            <!--<span class="content-detail">内容2</span>-->
        <!--</div>-->
        <!--<div class="content-friend">-->
            <!--<img src="./2017032410_dog1.png" alt="" class="friend-avatar">-->
            <!--<span class="content-detail">内容1</span>-->
        <!--</div>-->
        <!--<div class="content-self">-->
            <!--<img src="./2017032410_dog2.png" alt="" class="self-avatar">-->
            <!--<span class="content-detail">内容2</span>-->
        <!--</div>-->
    </div>

    <div class="chat-input-wrapper">
        <input type="text" class="input-chat-content">
        <button  class="btn-chat-send">send</button>
    </div>

    <div class="chat-footer">
        <span class="footer-item"></span><span class="footer-item"></span><span class="footer-item"></span><span
            class="footer-item"></span><span class="footer-item"></span><span class="footer-item"></span><span
            class="footer-item"></span><span class="footer-item"></span><span class="footer-item"></span>
    </div>
</div>


<script>
    const log = console.log.bind(console)

    const post = (val) => {
        let id =$('.chat-body').attr('data-id')
        let form = {
            msg: val,
            id: id,
            date: Date.now()
        }
        $.post('http://localhost:7000/chat/add', form)
    }


    const messageEvent = () => {

        $('.btn-chat-send').on('click', (event) => {
            let input = $('.input-chat-content')
            let val = input.val()
            post(val)
            input.val('')
        })

        $('.input-chat-content').on( 'keyup',  (event) => {
            if (event.key === 'Enter') {
                let val = event.target.value
                event.target.value= ''
                post(val)
            }
        })

    }


</script>

<script>
    const socketEvent = () => {
        let socket = io();

        const templateFriend = (data) => {
            let t = `
                <div class="content-friend">
                <span style="margin: 5px"> ${data.user.username} </span>

                <img src="/user/avatar/${data.user.avatar}" alt="" class="friend-avatar">
                <span class="content-detail">${data.msg}</span>
            </div>
            `
            return t
        }

        const templateSelf = (data) => {
            let t = `
                <div class="content-self">
                 <span style="margin: 5px"> ${data.user.username} </span>
            <img src="/user/avatar/${data.user.avatar}" alt="" class="self-avatar">
            <span class="content-detail">${data.msg}</span>
        </div>
            `
            return t
        }

        socket.on('new', function(data){
            // console.log(data)
        })

        socket.on('message', function(data){
            let t
            let wrapper = $('.chat-body')
            let id = Number(wrapper.attr('data-id'))
            if ( id !== data.user._id ) {
                t = templateFriend(data)
            } else {
                t = templateSelf(data)
            }
            wrapper.append(t)
        })



    }
</script>

<script>

    const main = () => {
        messageEvent()
        socketEvent()
    }

    main()


</script>

</body>
</html>